body {
    background-image: url("../images/SWBFUE.jpg");
}

#title {
    font-size: 48px;
    height: 60px;
    padding: 0 auto;
}

.tile {
    background: white;
   
}

img {
    height: 70px;
    width: 110px;
}

#status>p {
    font-weight: bold;
    font-size: 32px;
}